.list{
   display: inline-block;	
   box-sizing: border-box;
   border: none;
   vertical-align: top;
}

.list__list{
  padding-left: 0;
  margin: 0;
  list-style: none;  
}

.list__item{
  width: 420px;
  background-color: #E9ECEF;
  border-radius: 4px;
  height: 37px;
  line-height: 37px;
  margin-bottom: 8px;
  padding-left: 9px;
  font-size: 13px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: HelveticaNeue,sans-serif;
  font-size: 13px;
 
}

.list__item b {
  font-family: HelveticaNeueBold;
  font-weight: normal;
  padding-right: 6px;
}

.list__value {
  display: flex;
  justify-content: space-between;	
  background: #007DFF;
  border-radius: 4px; 
  width: 420px;
  line-height: 37px;
  color: white;
}
.list__value-wrap{
  padding-left: 16px;
  font-size: 13px;
}
.list__value-wrap b {
  font-family: HelveticaNeueBold;
  font-weight: normal;
  padding-right: 18px;
  
}
.list__value-remove{
  padding-right: 16px;
}

