.input{
   display: inline-block;	
   box-sizing: border-box;
   border: none;
   vertical-align: top;
   position:relative;
}
.input__input{
   width: 420px;
   height: 38px;
   box-sizing: border-box;
   border: 2px solid #E9ECEF;
   border-radius: 4px;
   letter-spacing: 0.47px;
   padding-left: 8px;
}

.input__input:focus{
  border-color: #007DFF;
}
.input__input::-webkit-input-placeholder,
.input__input::-moz-placeholder, 
.input__input:-ms-input-placeholder,
.input__input:-moz-placeholder,
.input__input::placeholder{
  color: #858E98 ;
  opacity: 1;
}

.input__list{
  padding-left:0;
  border-radius: 4px;
  max-height: 136px;
  width: 420px;
  overflow-y: auto;
  margin:0;
  box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
  position: absolute;
  background: white;

}

.input__item{
  list-style: none;
  height: 34px;
  line-height: 34px;
  padding-left: 16px;
  
}

.input__item-img
{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
}
.input__item-floor{
  color: #37003E;
}
.input__item:hover{
  background: #F6F7F9;
  font-family: HelveticaNeueBold, sans-serif;
}

