.roomlist{
  border-top: 1px solid #E9ECEF;
}
.roomlist__rooms{
  margin:0;
/*  background: white;*/
/*  width: 220px;*/
  list-style: none;
  padding-left: 0;
  position: relative;
}
.roomlist__floor{
  font-family: HelveticaNeue-Bold;
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
  line-height: 13px;
  height: 35px;
  width:220px;
  display:table-cell;
  vertical-align: bottom;
  background: white;
  position: relative;
  padding-left: 25px;
}
.roomlist__floor:after{
  content: " ЭТАЖ";
}
.roomlist__room{
  height: 44px;
}
.roomlist__room-time{
 line-height: 28px;
 height: 28px;
 background: #D5DFE9;
 background: #D5DFE980;
 position: relative;
 top: -36px;
}
.roomlist__room-time-item{
 background: white;
 position: absolute;
}
.roomlist__room-time-item:hover{
   background: #99A9B9 
}.room__info{
 width: 220px;
 padding-top: 3px;
 padding-bottom: 4px;
 padding-left: 25px;
 background: white;
 position: relative;
 z-index: 10;
}
.room__title{
  font-family: HelveticaNeueMedium, sans-serif;
  font-size: 15px;
  line-height: 17px;
  display: block;
  width: 220px;
}

.room__capacity{
  font-family: HelveticaNeue;
  font-size: 13px;
  line-height: 17px;
}
.room__capacity:after{
 content : " человек";
}
