.timeline{
  margin:0;
  background: white;
 
}

.timeline__moments{
  margin: 0;	
  padding-left:0;
  list-style-type: none;	
  white-space: nowrap;
  position: relative;
  left: -80px;
}

.timeline__moment{
  display: inline-block;
}
.timeline__moment-wrapper{
  position: relative;
  left: -50%;
  z-index: 10;
  background: white;
  width: 65px;
  text-align: center;
  display: block;
  line-height: 44px;
  font-family: HelveticaNeueBold, sans-serif;
  font-size: 11px;
  color: #252525;
  letter-spacing: 0.4px;
}
.timeline__moment:after{
  content: "";	
  border-right: 1px solid rgba(19,100,205,0.10);;
  height: 100vh;
  position: absolute;
}
.timeline__cursor{
  position: absolute;
  top: 12px;
  z-index: 10;
}
.timeline__cursor-wrapper{
  position: relative;
  left: -50%;  
  background: #007DFF;
  border-radius: 100px;
  width: 49px;
  height: 20px;
  font-family: HelveticaNeueBold, sans-serif;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: white;
  display: block;
  text-align: center;
}
.timeline__cursor:after{
  content: "";	
  border-right: 1px solid #007DFF;
  height: 100vh;
  position: absolute;

}
