.input__list-deletable{
  padding-left: 0;
  width: 420px;
  line-height: 28px;
  margin: 11px 0 0 0; 
}

.input__item-img-deletable{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.input__item-deletable{
  display: inline-flex;	
  list-style: none;
  padding-left: 0;
  background: #F6F7F9;
  border-radius: 16px;
  padding: 0 13px 0 0 ;
  height: 24px;
  line-height: 24px;
  margin-right: 8px;
  font-family: HelveticaNeue;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  overflow: hidden; 

}
.input__item-deletable-wrap{
  padding-left: 8px;
}
.input__list_show_true{
}
.input__list_show_false{
  display: none;
}
.input__item-remove-deletable:after{
  content: "\D7";
  margin-left: 12px;
  margin-right: -5px;
  width: 16px;
  font-size: 24px;
  line-height: 18px;
  font-family: "HelveticaNeueMedium", sans-serif;
  color: #AFB4B8;
  cursor: pointer;
  display: inline-block;

}  
