.time{
   display: inline-block;	
   width: 72px;
   height: 38px;
   box-sizing: border-box;
   border: none;
}
.time__input{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   border: 2px solid #E9ECEF;
   border-radius: 4px;
   font-family: HelveticaNeue, sans-serif;
   font-size: 13px;
}

.time__input:focus{
  border-color: #007DFF;
}
.time__input::-webkit-input-placeholder,
.time__input::-moz-placeholder, 
.time__input:-ms-input-placeholder,
.time__input:-moz-placeholder,
.time__input::placeholder{
  color: #858E98 ;
  opacity: 1;
  font-family: HelveticaNeue, sans-serif;
  font-size:13px;
}
